<!DOCTYPE html>
<div class="container-fluid" id="fluid1" >
	
	<div class="row fir">
		<img src = "bike6.jpg"class="img-responsive center-block"/>
	</div>
	

	<div class="row fir">
		<h1 class="text-center">Let's end bike theft.</h1>
	</div>	

	<div class ="row sec">
		<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
			<div class="input-group" id="center">
				<input type="email" class="form-control"placeholder="Enter Email" /> 
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">STEP INSIDE</button>
				</span>
			</div>
		</div>
	</div>


</div>
<!--<div class="progress">
						<div class="progress-bar" role="progressbar" 
						aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">90% Complete</span>
					</div>-->